/***************** Tag Level CSS ****************/
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  margin: 10px;
  font-size: 5rem;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 0px;
  padding-top: 0;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  height: 20px;
}

p {
  font-family: 'Montserrat', sans-serif;
}
hr {
  border-style: none none dotted none;
  width: 3%;
  border-color: gray;
  border-width: 5px;
  background-color: #eaf6f6;
}
/**************** Class Level CSS ************/

.topContainer {
  background-color: #eaf6f6;
  padding: 100px;
}

.middleContainer {
  background-color: rgb(199, 153, 127);
  height: 400px;
}

.bottomContainer {
  height: 200px;
  background-color: #66BFBF;
  color: #eaf6f6;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2; 
}

.contactMeBtn {
  background-color: #11999E;
  color: #eaf6f6;
  margin: 30px;
}
/**************** Id level CSS *************/
#bottomCloud {
  position: absolute;
  top: 420px;
  left: 560px;
}

#topCloud {
  position: relative;
  left: 250px;
}

#profileImage {
  height: 150px;
  width: 150px;
  border-radius: 100%;
}

#mountainImage {
  width: 680px;
}

#skillsImage1 {
  width: 20%;
  float: left;
  padding-right: 20px;
}

#skillsImage2 {
  width: 20%;
  float: right;
  padding-right: 20px;
}